@using (Html.BeginForm("Search", "Students", FormMethod.Get))
{
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        @Html.TextBox("name", null, new { @class = "form-control", name = "filter-search", value = "" })
        <span class="input-group-btn pull-left">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
    </div>
}