@model IEnumerable<Application.Web.Models.StudentViewModel>

@{
    ViewBag.Title = "Search Results (Students)";
}

<h3>@ViewBag.Title</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(studentModel => studentModel.Name)
        </th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(studentModel => student.Name)
            </td>
        </tr>
    }
</table>