body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(Images/Background_Textures/school.png);
    background-repeat:repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-group {
    margin: 15px 0;
}

.list-inline li {
    margin-right: 40px;
}

.glyphicon {
    display: inline-block;
    margin: 0 2px;
}

.carousel-inner h3 {
    font-size: 28px;
    font-family: Calibri;
}

.item {
    background: #333;
    text-align: center;
    height: 400px;
}

.carousel {
    margin-top: 15px;
}

/*.bs-example {
    margin: 0;
}*/

article h1 {
    font-family: Calibri, sans-serif;
    font-size: 46px;
}

.main-article {
    background-color: #dff0d8;
    padding: 5px 15px;
}

.main-article img {
    margin-top: 30px;
    margin-right: 20px;
}

dt {
    margin-bottom: 10px;
}

.body-content {
    margin-top: 20px;
    background-color: white;
}

.jumbotron {
    margin-top: 25px;
    background-color: #dcedc8;
}