body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 300px;
}*/

/*My Styles*/

body {
    background-image: url(Images/Background_Textures/school.png);
    background-repeat: repeat;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0;
}

.input-group {
    margin: 15px 0;
}

.list-inline li {
    margin-right: 40px;
}

.glyphicon {
    display: inline-block;
    margin: 0 2px;
}

.carousel-inner h3 {
    font-size: 28px;
    font-family: Calibri;
}

.item {
    background: #333;
    text-align: center;
    height: 400px;
}

.carousel {
    margin-top: 15px;
}

/*.bs-example {
    margin: 0;
}*/

article h1 {
    font-family: Calibri, sans-serif;
    font-size: 46px;
}

.main-article {
    background-color: #dff0d8;
    padding: 5px 15px;
}

.main-article img {
    margin-top: 30px;
    margin-right: 20px;
}

dt {
    margin-bottom: 10px;
}

.body-content {
    margin-top: 20px;
    background-color: white;
}

.jumbotron {
    margin-top: 25px;
    background-color: #dcedc8;
}

.grade-container {
    position: relative;
    height: 40px;
}

.grade-anchor-container {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;   
  z-index: 0;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  border-bottom: 0;
  border-color: #ddd;
  border-style: solid;
}

#normal-details-button , #normal-delete-button{
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}


#normal-details-button {
  right: 110px;
}


#normal-delete-button {
  right: 60px;
}