@{
    ViewBag.Title = "St. Mary School - Contact Details";
}
<h2>@ViewBag.Message</h2>
<hr />
<address>
    <strong>Address: </strong><br />
    26 Silk Gardens Road,<br />
    Warchenfield, SW<br /><br />
    
    <strong>Phone: </strong>
    <img src="~/Content/Images/About_Page/skype-icon.png" border="0" alt="skype icon" />
    <a href="callto:+4131234567890">+123 123.456.789</a>
</address>
<address>
    <strong>Email:</strong><a href="mailto:st.mary-faculty@stmary.com">st.mary-faculty@stmary.com</a><br />
</address>