@{
    ViewBag.Title = "Home Page";
}

<!-- Bootstrap Carousel
    ================================================== -->
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="9000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="~/Content/Images/Home_Page_Carousel/forest-river-bridge.jpg" alt="forest with river and bridge">
                <div class="carousel-caption">
                    <h3>The Butterfly Park</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Home_Page_Carousel/kids-sitting-in-sports-hall.jpg" alt="kids sitting in sports hall">
                <div class="carousel-caption">
                    <h3>In the Gym</h3>
                    <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Home_Page_Carousel/parents-with-children-in-park.jpg" alt="parents with children in park">
                <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Home_Page_Carousel/river-forest.jpg" alt="river in forest">
                <div class="carousel-caption">
                    <h3>Forth slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Home_Page_Carousel/portrait-of-back-children-with-raised-hands-in-classroom.jpg" alt="back children with raised hands in class">
                <div class="carousel-caption">
                    <h3>In the classroom</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Home_Page_Carousel/school-girls-laughing.jpg" alt="school girls laughing">
                <div class="carousel-caption">
                    <h3>Funny breaks</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Home_Page_Carousel/small-lake-in-forest.jpg" alt="small lake in forest">
                <div class="carousel-caption">
                    <h3>Seventh slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<article class="main-article">
    <img src="~/Content/Images/Home_Page_General/school-logo-lighthouse.png" class="pull-right" alt="school logo - lighthouse" />
    <h1>St. Mary School</h1>
    <p class="lead">Welcome to the website of St. Mary School established in 1864 in Worchenfield, Swarten.</p>
    <p>
        @Html.ActionLink("Learn more »", "About", null, new {@class = "btn btn-primary btn-lg"})
    </p>
    <p>
        This is a demo website created by Ivaylo Dimitrov Botusharov
        (<a href="https://github.com/encounter12/" target="_blank">GitHub</a>, 
        <a href="https://bg.linkedin.com/pub/ivaylo-botusharov/2a/101/a1b" target="_blank">LinkedIn</a>).
        In order to check most of the website functionality please log in as administrator using:
        Email: admin@admin.com,
        Password: 111
    </p>
</article>

<div class="row">
    <section class="col-md-4">
        <h2>News</h2>
        <article>
            <h3>1st place in Math Olympiad</h3>
            <p>
                8 students from our Grade 6 and 7 participated in the 1997 International Mathematical Olympiad
                held in Bologne, France and won 2 golden and one silver medals. Congratulations!
            </p>
            <a class="btn btn-default" href="">Learn more &raquo;</a>
        </article>
    </section>

    <section class="col-md-4">
        <h2>Upcoming Events</h2>
        <article>
            <h3>Arts Workshop in Seatton Hills</h3>
            <p>
                Our school Department of Arts organizes a spring outdoor Arts workshop in Seatton Hills Forest
                focused on pastel drawing techniques. All students interested are really welcome!
            </p>
            <a class="btn btn-default" href="#">Learn more &raquo;</a>
        </article>
    </section>

    <section class="col-md-4">
        <h2>Announcements</h2>
        <article>
            <h3>Sports Hall closed for repair</h3>
            <p>
                Next week our school Sports Hall will be closed for repair for 3 days starting from Monday, 4 April to Wednesday, 6 April.
                All sports activities will take place in the school outdoor playground!
            </p>
            <a class="btn btn-default" href="#">Learn more &raquo;</a>
        </article>
    </section>
</div>