@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">This is the administration area of the school website.</p>
    <ul class="list-inline">
        <li>
            <a href="/Administration/Teachers/Index">
                <img src="~/Content/Images/Admin_Panel/teacher-icon.png" border="0" alt="teachers icon" />
            </a>
            <p class="lead">Teachers &raquo;</p>
        </li>
        <li>
            <a href="/Administration/Students/Index">
                <img src="~/Content/Images/Admin_Panel/student-icon.png" border="0" alt="students icon" />
            </a>
            <p class="lead">Students &raquo;</p>
        </li>
        <li>
            <a href="/Administration/AcademicYears/Index">
                <img src="~/Content/Images/Admin_Panel/clock-icon.png" border="0" alt="clock icon" />
            </a>
            <p class="lead">Academic Years &raquo;</p>
        </li>
        <li>
            <a href="/Administration/Students/Index">
                <img src="~/Content/Images/Admin_Panel/calendar-icon.png" border="0" alt="calendar icon" />
            </a>
            <p class="lead">Master Schedule &raquo;</p>
        </li>
    </ul>
</div>